<div class="container-md">
  <div>
    <h3 class="title">CURSOS</h3>
  </div>
  <div *ngIf="isAdmin">
    <button (click)="createCurso()" mat-flat-button class="custom-button">
      <mat-icon class="custom-button-icon">add</mat-icon>
      Agregar curso
    </button>
  </div>
  <br />
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th appTitles mat-header-cell *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let curso" class="custom-column">{{ curso.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th appTitles mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let curso" class="custom-column">{{ curso.name }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th appTitles mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let curso" class="custom-column">{{ curso.description }}</td>
      </ng-container>

      <!-- StartDate Column -->
      <ng-container matColumnDef="startDate">
        <th appTitles mat-header-cell *matHeaderCellDef>Inicio</th>
        <td mat-cell *matCellDef="let curso" class="custom-column">{{ curso.startDate | date: 'MM/dd/yyyy' }}</td>
      </ng-container>

      <!-- EndDate Column -->
      <ng-container matColumnDef="endDate">
        <th appTitles mat-header-cell *matHeaderCellDef>Finalización</th>
        <td mat-cell *matCellDef="let curso" class="custom-column">{{ curso.endDate | date: 'MM/dd/yyyy' }}</td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let curso">
          <button (click)="view(curso.id)" mat-mini-fab class="custom-view-button">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let curso">
          <button (click)="edit(curso)" mat-mini-fab color="primary" *ngIf="isAdmin">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let curso">
          <button (click)="delete(curso.id)" mat-mini-fab color="warn" *ngIf="isAdmin">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
