.container-md {
    background-color: #f1f0ef;
    padding: 80px;
    max-width: 600px;
    border: none;
}

.title {
    text-align: center;
    margin-bottom: 80px;
    color: #5f62d1;
    font-size: 34px;
    font-weight: 300;
}

.lblTitle {
    font-weight: bold;
}

.buttons {
    margin-bottom: 1rem;
    justify-content: center;
}

.custom-button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    margin: 5px;
    border-radius: 0;
    background-color: #5fecc8 !important;
    color: #5f62d1 !important;
}
