<div class="container-md">
    <div>
        <p class="title">Detalles del Usuario</p>
    </div>
    <div mat-dialog-content>
        <div class="row">
            <div class="col">
                <mat-label class="lblTitle">Nombre:</mat-label>
            </div>    
            <div class="col">
                <mat-label>{{ usuario?.firstName }}</mat-label>
            </div>        
        </div>
        <div class="row">
            <div class="col">
                <mat-label class="lblTitle">Apellido:</mat-label>
            </div>    
            <div class="col">
                <mat-label>{{ usuario?.lastName }}</mat-label>
            </div>        
        </div>
        <div class="row">           
            <div class="col">
                <mat-label  class="lblTitle">Email:</mat-label>
            </div>    
            <div class="col">
                <mat-label>{{ usuario?.email }}</mat-label>
            </div>              
        </div>    
        <div class="row">           
            <div class="col">
                <mat-label  class="lblTitle">Rol:</mat-label>
            </div>    
            <div class="col">
                <mat-label *ngIf="usuario?.rol === 'admin'; else userN">Administrador</mat-label>
                <ng-template #userN>
                    <mat-label>Usuario</mat-label>
                </ng-template>                
            </div>              
        </div>                
    </div>
</div>
<div mat-dialog-actions class="buttons">
    <button mat-dialog-close mat-flat-button color="primary">Cerrar</button>
</div>