<div class="container">
    <h2 class="title">EDITAR ALUMNO</h2>
        <div mat-dialog-content>
        <form [formGroup]="registerForm">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Alumno:</mat-label>
                    <mat-select [formControl]="alumnoControl" >
                        <mat-option *ngFor="let alumno of alumnosList" [value]="alumno.id">
                          {{ alumno | fullname }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let error of alumnoControl.errors | keyvalue">{{ error | controlErrors }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Curso:</mat-label>
                    <mat-select [formControl]="cursoControl">
                        <mat-option *ngFor="let curso of cursosList" [value]="curso.id">
                          {{ curso.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let error of cursoControl.errors | keyvalue">{{ error | controlErrors }}</mat-error>
                </mat-form-field>
            </div>                    
        </form>
    </div>
    <div mat-dialog-actions class="buttons" style="text-align: center;">
        <button mat-dialog-close mat-flat-button [style.backgroundColor]="'#5fecc8'" [style.color]="'#5f62d1'">Cancelar</button>
        <button (click)="save()" mat-flat-button [style.backgroundColor]="'#5fecc8'" [style.color]="'#5f62d1'">Guardar</button>
    </div>    
</div>