.mat-elevation-z8{
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
}

h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #2A2A2D;
}

.viewButton{
    background-color: #38AB3D !important;
    color: white !important;
}