<div class="container-md">
    <div>
      <h3>Lista de Usuarios</h3>
    </div>
    <div>
      <button (click)="createUsuario()" mat-flat-button color="primary">
        <mat-icon>add</mat-icon>
        Agregar usuario
      </button>
    </div>
    <br />
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th appTitles mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.id }}</td>
        </ng-container>
  
        <!-- FirstName Column -->
        <ng-container matColumnDef="firstName">
          <th appTitles mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.firstName }}</td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="lastName">
          <th appTitles mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.lastName }}</td>
        </ng-container>
  
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th appTitles mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
        </ng-container>

        <!-- Rol Column -->
        <ng-container matColumnDef="rol">
          <th appTitles mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let usuario">
            <div *ngIf="usuario.rol === 'admin'; else userN">
              Administrador
            </div>
            <ng-template #userN>
              Usuario
            </ng-template>
          </td>          
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let usuario">
            <button (click)="view(usuario)" mat-mini-fab class="viewButton">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let usuario">
            <button (click)="edit(usuario)" mat-mini-fab color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let usuario">
            <button (click)="delete(usuario.id)" mat-mini-fab color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
</div>  