<div class="container">
    <h2 class="title">EDITAR ALUMNO</h2>
        <div mat-dialog-content>
        <form [formGroup]="registerForm">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Nombre:</mat-label>
                    <input [formControl]="nameControl" type="text" matInput>
                    <mat-error *ngFor="let error of nameControl.errors | keyvalue">{{ error | controlErrors }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Descripción:</mat-label>
                    <input [formControl]="descriptionControl" type="text" matInput>
                    <mat-error *ngFor="let error of descriptionControl.errors | keyvalue">{{ error | controlErrors }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Inicio</mat-label>
                    <input [formControl]="startDateControl" type="date" matInput>
                    <mat-error *ngFor="let error of startDateControl.errors | keyvalue">{{ error | controlErrors }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Finalización</mat-label>
                    <input [formControl]="endDateControl" type="date" matInput>                       
                    <mat-error *ngFor="let error of endDateControl.errors | keyvalue">{{ error | controlErrors }}</mat-error>
                </mat-form-field>
            </div>               
        </form>
    </div>
<div mat-dialog-actions class="buttons" style="text-align: center;">
    <button mat-dialog-close mat-flat-button [style.backgroundColor]="'#5fecc8'" [style.color]="'#5f62d1'">Cancelar</button>
    <button (click)="save()" mat-flat-button [style.backgroundColor]="'#5fecc8'" [style.color]="'#5f62d1'">Guardar</button>
</div> 
</div>
